.app-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ace-parent {
  display: flex;
  flex: 1;
  padding-bottom: 1em;
}

.result-box {
  max-height: 200px;
  overflow: auto;
}

.overflow {
  overflow: auto;
}

.red {
  color: #f92c59;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: gray;
}
